.card {
    width: 130px;
    height: 195px;
    position: relative;
    display: inline-block;
}
.card .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.img_base {
    position: relative;
}

.box1 {
    display: inline-block;
    top: -987px;
    position: relative;
    width: 616px;
    height: 117px;
    padding: 33px;
    border: 1px solid blue;
    background-color: yellow;
    left: 366px;
}

.card:hover .img-top {
    display: inline;
}
